.sprite{background-image:url(sprite.png);}
.icon{display:inline;overflow:hidden;padding-left:18px;background-repeat:no-repeat;background-image:url(sprite.png);}
.chery-face{background-position:0px 0px;width:85px;height:54px;}
.chery-fulwin{background-position:0px -54px;width:85px;height:54px;}
.chery-nuevo-fulwin{background-position:0px -108px;width:85px;height:54px;}
.chery-qq-nuevo{background-position:0px -162px;width:85px;height:54px;}
.chery-qq{background-position:0px -216px;width:85px;height:54px;}
.chery-skin{background-position:0px -270px;width:85px;height:54px;}
.chery-tiggo{background-position:0px -324px;width:85px;height:54px;}
.chevrolet-{background-position:0px -378px;width:85px;height:54px;}
.chevrolet-agile-effect{background-position:0px -432px;width:85px;height:54px;}
.chevrolet-agile{background-position:0px -486px;width:85px;height:54px;}
.chevrolet-aveo{background-position:0px -540px;width:85px;height:54px;}
.chevrolet-celta{background-position:0px -594px;width:85px;height:54px;}
.chevrolet-classic-taxi{background-position:0px -648px;width:85px;height:54px;}
.chevrolet-classic-wagon{background-position:0px -702px;width:85px;height:54px;}
.chevrolet-classic{background-position:0px -756px;width:85px;height:54px;}
.chevrolet-cobalt{background-position:0px -810px;width:85px;height:54px;}
.chevrolet-cruze{background-position:0px -864px;width:85px;height:54px;}
.chevrolet-cruze5p{background-position:0px -918px;width:85px;height:54px;}
.chevrolet-montana{background-position:0px -972px;width:85px;height:54px;}
.chevrolet-onix-effect{background-position:0px -1026px;width:85px;height:54px;}
.chevrolet-onix-joy{background-position:0px -1080px;width:85px;height:54px;}
.chevrolet-onix{background-position:0px -1134px;width:85px;height:54px;}
.chevrolet-prisma-joy{background-position:0px -1188px;width:85px;height:54px;}
.chevrolet-prisma{background-position:0px -1242px;width:85px;height:54px;}
.chevrolet-s-10{background-position:0px -1296px;width:85px;height:54px;}
.chevrolet-sonic-hatchback{background-position:0px -1350px;width:85px;height:54px;}
.chevrolet-sonic-sedan{background-position:0px -1404px;width:85px;height:54px;}
.chevrolet-spark{background-position:0px -1458px;width:85px;height:54px;}
.chevrolet-spin-activ{background-position:0px -1512px;width:85px;height:54px;}
.chevrolet-spin{background-position:0px -1566px;width:85px;height:54px;}
.chevrolet-tracker{background-position:0px -1620px;width:85px;height:54px;}
.citroen-aircross{background-position:0px -1674px;width:85px;height:54px;}
.citroen-berlingo-furgon{background-position:0px -1728px;width:85px;height:54px;}
.citroen-berlingo-multispace{background-position:0px -1782px;width:85px;height:54px;}
.citroen-c-elysee{background-position:0px -1836px;width:85px;height:54px;}
.citroen-c3-picasso{background-position:0px -1890px;width:85px;height:54px;}
.citroen-c3{background-position:0px -1944px;width:85px;height:54px;}
.citroen-c4-lounge{background-position:0px -1998px;width:85px;height:54px;}
.citroen-c4{background-position:0px -2052px;width:85px;height:54px;}
.citroen-xsara-picasso{background-position:0px -2106px;width:85px;height:54px;}
.fiat-500-cult{background-position:0px -2160px;width:85px;height:54px;}
.fiat-500-lounge{background-position:0px -2214px;width:85px;height:54px;}
.fiat-500-sport{background-position:0px -2268px;width:85px;height:54px;}
.fiat-500L{background-position:0px -2322px;width:85px;height:54px;}
.fiat-bravo{background-position:0px -2376px;width:85px;height:54px;}
.fiat-doblo-furgon{background-position:0px -2430px;width:85px;height:54px;}
.fiat-doblo{background-position:0px -2484px;width:85px;height:54px;}
.fiat-ducato{background-position:0px -2538px;width:85px;height:54px;}
.fiat-fiorino-qubo{background-position:0px -2592px;width:85px;height:54px;}
.fiat-fiorino{background-position:0px -2646px;width:85px;height:54px;}
.fiat-grand-siena{background-position:0px -2700px;width:85px;height:54px;}
.fiat-idea-adventure{background-position:0px -2754px;width:85px;height:54px;}
.fiat-idea{background-position:0px -2808px;width:85px;height:54px;}
.fiat-linea{background-position:0px -2862px;width:85px;height:54px;}
.fiat-mobi-way{background-position:0px -2916px;width:85px;height:54px;}
.fiat-mobi{background-position:0px -2970px;width:85px;height:54px;}
.fiat-nuevo-palio{background-position:0px -3024px;width:85px;height:54px;}
.fiat-nuevo-uno-way{background-position:0px -3078px;width:85px;height:54px;}
.fiat-nuevo-uno{background-position:0px -3132px;width:85px;height:54px;}
.fiat-palio-adventure{background-position:0px -3186px;width:85px;height:54px;}
.fiat-palio-fire{background-position:0px -3240px;width:85px;height:54px;}
.fiat-palio-locker{background-position:0px -3294px;width:85px;height:54px;}
.fiat-palio-sporting{background-position:0px -3348px;width:85px;height:54px;}
.fiat-palio-weekend{background-position:0px -3402px;width:85px;height:54px;}
.fiat-palio{background-position:0px -3456px;width:85px;height:54px;}
.fiat-punto{background-position:0px -3510px;width:85px;height:54px;}
.fiat-qubo{background-position:0px -3564px;width:85px;height:54px;}
.fiat-siena-el{background-position:0px -3618px;width:85px;height:54px;}
.fiat-siena-fire{background-position:0px -3672px;width:85px;height:54px;}
.fiat-siena-pack-way{background-position:0px -3726px;width:85px;height:54px;}
.fiat-siena{background-position:0px -3780px;width:85px;height:54px;}
.fiat-strada-3p{background-position:0px -3834px;width:85px;height:54px;}
.fiat-strada-adventure-dc{background-position:0px -3888px;width:85px;height:54px;}
.fiat-strada-working-dc{background-position:0px -3942px;width:85px;height:54px;}
.fiat-stradadoblecabina{background-position:0px -3996px;width:85px;height:54px;}
.fiat-stradaworking{background-position:0px -4050px;width:85px;height:54px;}
.fiat-toro{background-position:0px -4104px;width:85px;height:54px;}
.fiat-uno-sporting{background-position:0px -4158px;width:85px;height:54px;}
.fiat-uno{background-position:0px -4212px;width:85px;height:54px;}
.fiat-weekend-trekking{background-position:0px -4266px;width:85px;height:54px;}
.ford-915e{background-position:0px -4320px;width:85px;height:54px;}
.ford-c915e{background-position:0px -4374px;width:85px;height:54px;}
.ford-ecosport{background-position:0px -4428px;width:85px;height:54px;}
.ford-f100{background-position:0px -4482px;width:85px;height:54px;}
.ford-f4000{background-position:0px -4536px;width:85px;height:54px;}
.ford-fiesta-ambiente{background-position:0px -4590px;width:85px;height:54px;}
.ford-fiesta-energy{background-position:0px -4644px;width:85px;height:54px;}
.ford-fiesta-kinetic-design{background-position:0px -4698px;width:85px;height:54px;}
.ford-fiesta-kinetic-trend (1){background-position:0px -4752px;width:85px;height:54px;}
.ford-fiesta-kinetic-trend{background-position:0px -4806px;width:85px;height:54px;}
.ford-focus{background-position:0px -4860px;width:85px;height:54px;}
.ford-focus4p{background-position:0px -4914px;width:85px;height:54px;}
.ford-ka{background-position:0px -4968px;width:85px;height:54px;}
.ford-kafly{background-position:0px -5022px;width:85px;height:54px;}
.ford-kuga{background-position:0px -5076px;width:85px;height:54px;}
.ford-ranger{background-position:0px -5130px;width:85px;height:54px;}
.ford-transit-furgon{background-position:0px -5184px;width:85px;height:54px;}
.fordranger{background-position:0px -5238px;width:85px;height:54px;}
.marca-de-agua{background-position:0px -5292px;width:85px;height:54px;}
.mercedes-benz-smart-city{background-position:0px -5346px;width:85px;height:54px;}
.mercedes-benz-smart-passion{background-position:0px -5400px;width:85px;height:54px;}
.mercedes-benz-sprinter-chasis-413{background-position:0px -5454px;width:85px;height:54px;}
.mercedes-benz-sprinter-chasis{background-position:0px -5508px;width:85px;height:54px;}
.mercedes-benz-sprinter-combi-413{background-position:0px -5562px;width:85px;height:54px;}
.mercedes-benz-sprinter-combi{background-position:0px -5616px;width:85px;height:54px;}
.mercedes-benz-sprinter-combi15{background-position:0px -5670px;width:85px;height:54px;}
.mercedes-benz-sprinter-combi19{background-position:0px -5724px;width:85px;height:54px;}
.mercedes-benz-sprinter-furgon-413{background-position:0px -5778px;width:85px;height:54px;}
.mercedes-benz-sprinter-furgon-415te{background-position:0px -5832px;width:85px;height:54px;}
.mercedes-benz-sprinter-furgon{background-position:0px -5886px;width:85px;height:54px;}
.mercedes-benz-vito-furgon-mixto{background-position:0px -5940px;width:85px;height:54px;}
.mercedes-benz-vito-furgon{background-position:0px -5994px;width:85px;height:54px;}
.nuevo-palio{background-position:0px -6048px;width:85px;height:54px;}
.peugeot-2008{background-position:0px -6102px;width:85px;height:54px;}
.peugeot-206{background-position:0px -6156px;width:85px;height:54px;}
.peugeot-207-3p{background-position:0px -6210px;width:85px;height:54px;}
.peugeot-207-sedan{background-position:0px -6264px;width:85px;height:54px;}
.peugeot-207{background-position:0px -6318px;width:85px;height:54px;}
.peugeot-208{background-position:0px -6372px;width:85px;height:54px;}
.peugeot-307{background-position:0px -6426px;width:85px;height:54px;}
.peugeot-308{background-position:0px -6480px;width:85px;height:54px;}
.peugeot-408{background-position:0px -6534px;width:85px;height:54px;}
.peugeot-hoggar{background-position:0px -6588px;width:85px;height:54px;}
.peugeot-partner-furgon{background-position:0px -6642px;width:85px;height:54px;}
.peugeot-partner-patagonica{background-position:0px -6696px;width:85px;height:54px;}
.renault-captur{background-position:0px -6750px;width:85px;height:54px;}
.renault-clio-3p{background-position:0px -6804px;width:85px;height:54px;}
.renault-clio-5p{background-position:0px -6858px;width:85px;height:54px;}
.renault-duster{background-position:0px -6912px;width:85px;height:54px;}
.renault-duster4x4 (1){background-position:0px -6966px;width:85px;height:54px;}
.renault-duster4x4{background-position:0px -7020px;width:85px;height:54px;}
.renault-fluence{background-position:0px -7074px;width:85px;height:54px;}
.renault-kangoo-sportway{background-position:0px -7128px;width:85px;height:54px;}
.renault-kangoo{background-position:0px -7182px;width:85px;height:54px;}
.renault-koleos{background-position:0px -7236px;width:85px;height:54px;}
.renault-logan{background-position:0px -7290px;width:85px;height:54px;}
.renault-master{background-position:0px -7344px;width:85px;height:54px;}
.renault-masterchasis{background-position:0px -7398px;width:85px;height:54px;}
.renault-megane3{background-position:0px -7452px;width:85px;height:54px;}
.renault-oroch{background-position:0px -7506px;width:85px;height:54px;}
.renault-sandero-base{background-position:0px -7560px;width:85px;height:54px;}
.renault-sandero-gt{background-position:0px -7614px;width:85px;height:54px;}
.renault-sandero{background-position:0px -7668px;width:85px;height:54px;}
.renault-stepway-dynamique{background-position:0px -7722px;width:85px;height:54px;}
.renault-symbol{background-position:0px -7776px;width:85px;height:54px;}
.sandero-base{background-position:0px -7830px;width:85px;height:54px;}
.smart-smart-city{background-position:0px -7884px;width:85px;height:54px;}
.smart-smart-passion{background-position:0px -7938px;width:85px;height:54px;}
.strada-working-doble-cabina{background-position:0px -7992px;width:85px;height:54px;}
.toyota-corolla{background-position:0px -8046px;width:85px;height:54px;}
.toyota-etios-cross{background-position:0px -8100px;width:85px;height:54px;}
.toyota-etios-sedan{background-position:0px -8154px;width:85px;height:54px;}
.toyota-etios{background-position:0px -8208px;width:85px;height:54px;}
.toyota-hilux-4x2{background-position:0px -8262px;width:85px;height:54px;}
.toyota-hilux{background-position:0px -8316px;width:85px;height:54px;}
.volkswagen-amarok{background-position:0px -8370px;width:85px;height:54px;}
.volkswagen-beetle{background-position:0px -8424px;width:85px;height:54px;}
.volkswagen-bora{background-position:0px -8478px;width:85px;height:54px;}
.volkswagen-cross-fox{background-position:0px -8532px;width:85px;height:54px;}
.volkswagen-fox{background-position:0px -8586px;width:85px;height:54px;}
.volkswagen-gol-base{background-position:0px -8640px;width:85px;height:54px;}
.volkswagen-gol-power{background-position:0px -8694px;width:85px;height:54px;}
.volkswagen-gol-trend{background-position:0px -8748px;width:85px;height:54px;}
.volkswagen-golf-rural{background-position:0px -8802px;width:85px;height:54px;}
.volkswagen-golf{background-position:0px -8856px;width:85px;height:54px;}
.volkswagen-polo{background-position:0px -8910px;width:85px;height:54px;}
.volkswagen-saveiro-dc{background-position:0px -8964px;width:85px;height:54px;}
.volkswagen-saveiro{background-position:0px -9018px;width:85px;height:54px;}
.volkswagen-scirocco{background-position:0px -9072px;width:85px;height:54px;}
.volkswagen-suran-cross{background-position:0px -9126px;width:85px;height:54px;}
.volkswagen-suran{background-position:0px -9180px;width:85px;height:54px;}
.volkswagen-trend3p{background-position:0px -9234px;width:85px;height:54px;}
.volkswagen-up{background-position:0px -9288px;width:85px;height:54px;}
.volkswagen-vento{background-position:0px -9342px;width:85px;height:54px;}
.volkswagen-voyage{background-position:0px -9396px;width:85px;height:54px;}
