// BEGIN FOOTER
.page-footer
  .page-footer-inner
    | 2017 ©
    a(target='_blank', href='https://www.linkedin.com/in/mauricio-villalba-9566a1118/') MV

  .scroll-to-top
    i.icon-arrow-up
// END FOOTER
