// BEGIN HEAD
head
  meta(charset='utf-8')
  title CRM Autos en Cuotas
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(content='width=device-width, initial-scale=1', name='viewport')
  meta(content='CRM Autos en Cuotas')
  meta(content='', name='author')
  // BEGIN GLOBAL MANDATORY STYLES
  link(href='simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
// END HEAD
